<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite" parallel="false">

    <listeners>
        <listener class-name="qa.listeners.ApiTestListener"/>
    </listeners>

    <test name="Sport Activity Tests">
        <classes>
            <class name="qa.tests.LoginServiceTest"/>
            <class name="qa.tests.employee.GetEmployeeTest"/>
            <class name="qa.tests.employee.AddEmployeeTest"/>
            <class name="qa.tests.employee.UpdateEmployeeTest"/>
            <class name="qa.tests.division.AddDivisionTest"/>
        </classes>
    </test>
</suite>